.container {
    display: flex;
    max-width: 1180px;
    max-height: 620px;
    border: 1px solid #ccc;
}

.container-rec {
    display: inline;
    width: 374px;
    height: 582px;
}

.container-rec2 {
    display: flex;
    width: 283px;
    height: 577px;
    margin: 15px 313px;
}

.mini-container {
    display: flex;
    width: 242px;
    height: 540px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: #666666;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.btn1 {
    width: 329px;
    height: 102px;
    background-color: red;
    border-radius: 20px;
    padding: 9px;
    margin: 47px;
}

.btn2 {
    width: 329px;
    height: 102px;
    background-color: yellow;
    border-radius: 20px;
    padding: 9px;
    margin: 47px;
}

.btn3 {
    width: 329px;
    height: 102px;
    background-color: green;
    border-radius: 20px;
    padding: 9px;
    margin: 47px;
}

.br {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #8C8C8C;
    padding: 8px;
    margin: 15px;
}

/*.redCircle:hover {
    background-color: red;
}

.yellowCircle:hover {
    background-color: yellow;
}

.greenCircle:hover {
    background-color: green;
}

*/

.redCircle.active {
    background-color: red;
}

.yellowCircle.active {
    background-color: yellow;
}

.greenCircle.active {
    background-color: green;
}